<h1 class="mainName animate__animated animate__fadeInDown">RUNA</h1>
<p class="subTitle animate__animated animate__fadeIn">Reserva, Unidad, Naturaleza y Acceso</p>

<div class="priFlex animate__animated animate__fadeInUp animate__delay-1s">
    <div class="priFlex1">
        <input type="number" required class="inputPri" placeholder="Buscar">
    </div>
    <div class="priFlex2">
        <button class="buttonPri animate__animated animate__pulse animate__infinite"
            routerLink="/history">Historial</button>
    </div>
</div>
<h2 class="titleMain2 animate__animated animate__fadeInUp animate__delay-1s">Reservas Actuales: <span
        class="animate__animated animate__flash animate__delay-2s">{{ totalReservas }}</span></h2>

<ul class="list">
    <li *ngIf="cargando" class="loading">Cargando reservas...</li>
    <li *ngIf="error">{{ error }}</li>
    <li *ngFor="let reserva of reservations">
        <div class="flexPri animate__animated animate__fadeInUp animate__delay-1s">
            <div class="flexPri1">
                <h4 class="flexTitlePri">{{reserva.name}}</h4>
            </div>
            <div class="flexPri2">
                <button class="buttonPri3">Estado</button>
            </div>
            <div class="flexPri2">
                <button class="buttonPri2 animate__animated animate__pulse animate__infinite"
                    [routerLink]="['/info', reserva.name]">Ver
                    más</button>
            </div>
        </div>
    </li>
</ul>
