<h1 class="mainName animate__animated animate__fadeInDown">RUNA</h1>
<p class="subTitle animate__animated animate__fadeIn">Reserva, Unidad, Naturaleza y Acceso</p>

<div class="flexCode">
    <div class="flexCode1 animate__animated animate__fadeInLeft animate__delay-1s">
        <h2 class="flexTitle">Ingrese Su Código</h2>
        <input type="number" required class="inputCode" placeholder="Su Código" #code><br>
        <button class="buttonCode animate__animated animate__pulse animate__infinite" (click)="search()">Buscar</button>
    </div>
    <div class="flexCode2 animate__animated animate__fadeInRight animate__delay-2s">
        <h2 class="flexTitle">Resultados</h2>
        <div class="flexCode2_1">
            <div class="flexCode2_2">
                <h4 class="flexTitle2">Nombre de Ejemplo</h4>
            </div>
            <div class="flexCode2_3">
                <button class="buttonCode2 animate__animated animate__pulse animate__infinite"  routerLink="/newReserv">Reservar</button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="loadingMessage">Cargando...</div>