.mainName {
    color: #2F5D50;
    text-shadow: 3px 3px 5px #5F8B4C;
    text-align: center;
    font-size: 70px;
    height: 30px;
}

.subTitle {
    color: #328E6E;
    text-shadow: 3px 3px 5px #5F8B4C;
    text-align: center;
    font-size: 11px;
}

.thanksText {
    color: rgb(54, 51, 51);
    text-shadow: 3px 3px 5px #5F8B4C;
    font-size: 17px;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}